body {
  background-image: url('../img/stenar.jpg');
  background-size: cover;
  background-color: #666666;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

main, header, footer {
  width: 80%;
  margin: 0 auto;
  color: #efefef;
}

.bakcol{
 background-color: rgba(66, 66, 66, 0.6);
}

ul{
  margin-bottom: 0;
}

.pad{
  padding: 1rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

p {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  border-bottom: 2px solid #efefef;
} 

.lead {
  font-size: 1.4rem;
}

.info {
  float: right;
  margin: 1rem
}

.info, h3 {
  color: #efefef;
  background-color: #666666;
  margin-bottom: 0.2rem;
  
}

.footer {
  background-color: rgba(66, 66, 66, 0.9);
}